/* =========================================
   PUBLICO HEADLINE BOLD
========================================= */

@font-face {
  font-family: 'PublicoHeadlineBold';
  src: url('../fonts/PublicoHeadline-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

