/* =========================================
   FUENTES
========================================= */

@font-face {
  font-family: 'PublicoHeadlineBold';
  src: url('../fonts/PublicoHeadline-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProSemibold';
  src: url('../fonts/SourceSansPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* =========================================
   MY AXA
========================================= */

h3.ui.header {
  font-family: 'PublicoHeadlineBold', sans-serif !important;
  font-size: 32px !important;
  color: #343C3D !important;
}

p {
  font-family: 'SourceSansProSemibold', sans-serif !important;
  font-size: 24px !important;
  color: #343C3D !important;
}

#chkRemember,
label[for="chkRemember"],
.checkbox,
.remember-me {
  display: none !important;
}
