
<style>

.main-menu-nav {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.flex-column, .nav-stacked {
    flex-direction: column !important;
}
ol, ul {
    list-style: none;
}
.button.ghost {
    background-color: transparent;
    border-color: #00008f;
    border-style: solid;
    color: #00008f;
    fill: #00008f;
    border-width: 2px;
}
.button.large {
    font-size: 14px;
    height: 48px;
}
.button.ghost::after {
    background: #00008f;
}
.button::after {
    backface-visibility: hidden;
    background: none;
    content: '';
    height: 890px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: width .3s, opacity .3s;
    width: 0;
    z-index: -1;
}
.main-menu-nav .mainheader {
    align-items: center;
    position: static;
}
.main-menu-nav .button_modal .main-link {
    max-width: none;
}
.main-menu-nav .responsive-button {
    background: none;
    cursor: pointer;
    fill: #00008f;
    padding: 0;
    width: 25px;
    z-index: 0;
}
.main-menu-nav .openmenu .responsive-nav {
    transform: translate3d(0, 0, 0);
}

img, svg {
    max-width: 100%;
}
.main-menu-nav .responsive-button .cross-gap {
    display: none;
    opacity: 0;
    transition: visibility 0s ease, opacity .2s ease;
    visibility: hidden;
}


@media (min-width: 480px) and (max-width: 1199.5px){
.has-control-menu .main-menu-nav .logo-resize .responsive-nav {
    top: 145px;
}
}
@media (max-width: 767.5px){
.main-menu-nav .responsive-nav {
    width: 100%;
}

}

@media (min-width: 768px) and (max-width: 1199.5px){
header.header {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
}
.main-menu-nav .responsive-nav {
    width: 49%;
}
.main-menu-nav .mainheader::after {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    left: 0;
    min-height: 100vh;
    position: absolute;
    top: 100%;
    transition: visibility 0s ease 0s;
    visibility: hidden;
    width: 51%;
    z-index: 2;
}
}

@media (max-width: 1199.5px){


.main-menu-nav .mainheader {
    padding-bottom: 8px;
    padding-top: 8px;
}
.main-menu-nav .logo-resize .logo img {
    height: 32px;
    width: 32px;
}
.main-menu-nav .main-nav {
    display: none;
}

.main-menu-nav .main-link {
    color: #00008f;
    display: inline-block;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    width: calc(100% - 55px);
}


.main-menu-nav .mainheader.openmenu .responsive-button .cross-gap {
    display: block;
    opacity: 1;
    visibility: visible;
}
.has-control-menu .main-menu-nav .responsive-nav {
    top: 168px;
}
.main-menu-nav .responsive-nav {
    background-color: #fff;
    bottom: 0;
    margin-top: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 78px;
    transform: translate3d(100%, 0, 0);
    transition: transform .2s ease;
    z-index: 5;
}

.main-menu-nav .main-item {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.main-menu-nav .button_modal {
    order: -1;
}
.main-menu-nav .button_modal .main-link {
    width: 100%;
}
.main-menu-nav .button_modal .button {
    width: 100%;
}
.d-md-none, .d-lg-none, .d-xl-none{
    display: block !important;
}
}


@media (min-width: 1200px){
.main-menu-nav .logo-resize .logo img {
    height: 46px;
    width: 46px;
}
.main-menu-nav .main-link {
    align-items: center;
    box-sizing: border-box;
    color: #00008f;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 70px;
    justify-content: center;
    line-height: 1.4;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
}
.main-menu-nav .responsive-button {
    display: none;
    margin-right: -25px;
    opacity: 0;
    transform: translateX(-100%);
    transition: visibility 0s ease, opacity .2s ease;
    visibility: hidden;
}
.flex-md-row {
    flex-direction: row !important;
}
}

@media (min-width: 1200px) and (max-width: 1919.5px){

.main-menu-nav .main-link {
    margin: 0 5px;
    max-width: 155px;
}
}

.main-menu-nav .openmenu::after {
    transition: visibility 0s ease .2s;
    visibility: visible;
}
.button {
    align-items: center;
    animation-delay: .2s;
    -webkit-animation-name: fadeinup;
    animation-name: fadeInUp;
    border-bottom: 2px solid #00005b;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    fill: #fff;
    font-weight: 600;
    justify-content: center;
    max-width: none;
    opacity: 1;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: none;
    transition: all .25s ease;
    vertical-align: middle;
    z-index: 0;
    font-size: 14px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}
button, input[type='submit'] {
    border: 0;
}
.main-menu-nav .mainheader.opensearch .responsive-button .menu-icon, .main-menu-nav .mainheader.openmenu .responsive-button .menu-icon {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.nav-link:hover, .nav-underline .tab a:hover{
    text-decoration: none;
}
.button.ghost:hover, .button.ghost:active{
    border-color: #00008f;
    color:#fff;
    fill: #fff;
}
.button:hover::after, .button:active::after{
    opacity: 1;
    width: 100%;

}
</style>