/* =========================================
   PUBLICO HEADLINE BOLD
========================================= */

@font-face {
  font-family: 'PublicoHeadlineBold';
  src: url('../fonts/PublicoHeadline-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


h3.ui.header {
  font-size: 26px !important;   /* antes estaba en 32px */
}
